h2 {
    font-size: large;
}

input {
    width: 20rem;
}

#optional {
    display: none;
    padding-left: 2%;
    padding-right: 2%;
}

#optional_toggle {
    cursor: pointer;
    text-decoration: underline;
}
