body {
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    color: white;
    background-color: rgb(50, 50, 65);
}

::placeholder {
    color: rgb(175, 175, 175);
    opacity: 1;
}

h2 {
    font-size: large;
}

input {
    width: 20rem;
    background-color: rgb(100, 100, 100);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px;
}

select {
    background-color: rgb(100, 100, 100);
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

button {
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.short_form {
    width: 4rem;
}

.inline_text {
    display: inline;
}

#message {
    display: inline-block;
    border-radius: 10px;
    border: 2px solid blue;
    padding: 5px;
}

#optional {
    display: none;
    padding-left: 2%;
    padding-right: 2%;
}

#optional_toggle {
    cursor: pointer;
    text-decoration: underline;
}
